/*
 *	Amphinicy colors
 *
 *	#007dc5 - blue (Pantone 300 C)
 *	#a6ce39 - green (Pantone 376 C)
 *	#eb6f30 - orange (Pantone 1505 C)
 *	#63666A - grey (Pantone Cool Gray 10)
 *
 *	#27aae1 - light blue
 *	#c4da60 - light green
 *	#f79426 - light orange
 */

body {
	max-height: 500px;
}

.center {
	text-align: center;
	display: block;
}

button {
	width: 100%;
	margin: 0 0 10px 0;
}

button:last-child {
	margin: 0 0 0 0;
}

img {
	max-width: 100%;
	margin: 0;
}

/*
 *	youtube-bar.png serves as a marker for the admin to know which image is actually a placeholder for the youtube video. 
 *	Thus we don't need to see it in the client popup. 
 */
img[src*="youtube-bar.png"] {
	display: none;
}

input {
	width: 100%;
	border: 1px solid #f79426;
	border-radius: 2px;
	box-sizing: border-box;
	margin: 0 0 10px 0;
	padding: 5px;
}

input[type='checkbox'] {
	width: auto;
    vertical-align: -webkit-baseline-middle;
}

.hide-me {
	display: none;
}

.bottom-margin {
	margin: 0 0 10px 0;
}

.no-margin {
	margin: 0;
}

.header.fa-cog {
	right: -8px;
	top: -8px;
	z-index: 1001;
}

.header.fa-refresh {
	right: 18px;
	top: -8px;
	z-index: 1000;
}

.header.fa {
	position: absolute;
	cursor: pointer;
	font-size: 18px;
	background-color: white;
	padding: 8px;
	border-radius: 2px;
	color: #007dc5;
}

.header.fa:hover {
	color: #f79426;
}

.arrow-right {
	background-color: #fff;
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	top: -1px;
	right: -8px;
	transform: skew(140deg);
	border-color: #f79426;
	border-style: solid;
	border-width: 1px 1px 0 0;
}

.scroll {
	overflow-y: scroll;
	max-height: 500px;
	width: 500px;
}

.scroll .content {
	  width: 200px;
	  box-sizing: border-box;
}

/* For scrolling content with fixed button on top! */
.scroll .content.add-bottom {
	  padding-bottom: 40px;
}

#notice {
	background: #f79426;
	padding: 10px;
	font-size: 1.3em;
	text-align: center;
	transition: all 0.5s;
	cursor: default;
}

#notice:hover {
	background: #eb6f30;
}

#lunch-status {
	background: #27aae1;
	padding: 10px;
	color: white;
	font-size: 2em;
	text-align: center;
	transition: all 0.5s;
	cursor: default;
}

#lunch-status:hover {
	background: #007dc5;
}

/* TABLE */
table {
	border-collapse: collapse;
	width: 100%;
}

table, td, th {
	border: 1px dashed #f79426;
	text-align: center;
	padding: 10px;
}

tr.table-head {
	background-color: #f79426;
}

td.itsme {
	background-color: #c4da60;
	font-weight: bold;
}

th.now {
	background-color: #27aae1;
}
/* TABLE END */

/* BUTTONS */
.button {
	border-radius: 2px;
	background-color: #f79426;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	transition: all 0.5s;
	cursor: pointer;
}

.button:hover {
	background-color: #eb6f30;
}

.button.action {
	background-color: #27aae1;
}

.button.action:hover {
	background-color: #007dc5;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button:hover.right span {
	padding-right: 25px;
}

.button.right span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover.right span:after {
	opacity: 1;
	right: 0;
}

.button:hover.left span {
	padding-left: 25px;
}

.button.left span:after {
	content: '\00ab';
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	left: -20px;
	transition: 0.5s;
}

.button:hover.left span:after {
	opacity: 1;
	left: 0;
}

#open-apm.button {
	background-color: #c4da60;
	color: black;
}

#open-apm.button:hover {
	background-color: #a6ce39;
}
/* BUTTONS END */

/* VIEWS */
#main{
	transition: all 0.5s;
	transform: scale(1,1);
	opacity: 1;
	position: relative;
	top: 0;
	left: 0;
	width: 200px;
	min-height: 350px;
}

#main.off {
	left: -220px;
}

#week-menu-wrapper, #lunch-schedule-wrapper, #settings-wrapper {
	background-color: white;
	padding: 8px;
	width: 200px;
	position: absolute;
	max-height: 500px;
}

#settings-btn {
    width: auto;
    margin: auto;
    border: none;
    outline: 0;
}

#socket-error {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	background-image: url('images/disconnect.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: bottom;
	background-size: 55px;
	z-index: 1;
	padding: 50px 0;
	margin: 8px;
	text-align: center;
}

.visible {
	opacity: 1;
	top: 0;
	left: 0;
	transition: all 0.5s;
}

.not.visible {
	opacity: 0;
	top: 0;
	left: 250px;
	transition: all 0.5s;
}
/* VIEWS END */